@model Practical13_Test2.Models.EmployeeModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal" style="font-size: 17px">
        <dt>
            @Html.DisplayNameFor(model => model.Designation.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation.Designation)
        </dd>

        <dt style="margin-top: 3px">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd style="margin-top: 3px">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt style="margin-top: 3px">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
         
        <dd style="margin-top: 3px">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt style="margin-top: 3px">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd style="margin-top: 3px">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt style="margin-top: 3px">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd style="margin-top: 3px">
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt style="margin-top: 3px">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd style="margin-top: 3px">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt style="margin-top: 3px">
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd style="margin-top: 3px">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt style="margin-top: 3px">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd style="margin-top: 3px">
            @Html.DisplayFor(model => model.Salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
