@model IEnumerable<Practical13_Test2.Models.EmployeePerDesignation>

@{
    ViewBag.Title = "Query2";
}

<h2>Query2</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCount)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>