@model Practical14.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal" style="font-size: 17px">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt style="margin-top: 3px">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd style="margin-top: 3px">
            @Convert.ToDateTime(Model.DOB).ToString("yyyy/MM/dd")
        </dd>

        <dt style="margin-top: 3px">
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd style="margin-top: 3px">
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
