@model IEnumerable<Practical12_Test3.Models.DesignationModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create", "Designation", string.Empty, new { @class = "btn btn-primary" })
</p>

@Html.ActionLink("CreateProcedureToAddDesignation", "CreateStoreProcedureToAddDesignation", "Designation", null, new { @class = "btn btn-primary" }) &nbsp;

<table class="table" style="margin-top: 10px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
        </tr>
    }
</table>

<h4>
    @TempData["Success"]

    @{ var temp = DateTime.Now.Second; }

    @if (DateTime.Now.Second == temp + 10)
    {
        @TempData.Remove("Success");
    }
</h4>